@font-face {
  font-family: MontserratExtraBold;
  src: url("../fonts/MontserratExtraBold.otf");
}

@font-face {
  font-family: ProximaBold;
  src: url("../fonts/ProximaNovaAltBold.otf");
}

@font-face {
  font-family: ProximaSemibold;
  src: url("../fonts/ProximaNovaAltSemibold.otf");
}

@font-face {
  font-family: ProximaRegular;
  src: url("../fonts/ProximaNovaAltRegular.otf");
}

@font-face {
  font-family: ProximaThin;
  src: url("../fonts/ProximaNovaThin.otf") format("opentype");
}

@font-face {
  font-family: DinNextBold;
  src: url("../fonts/DiNNextLBold.otf");
}

body {
  background-color: white;
  z-index: 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}

.navbar-nav li>a {
  font-weight: 700;
  font-size: 14px;
  color: #fff !important;
  margin: 0 10px;
  font-family: ProximaBold;
  height: 70px;
  letter-spacing: 2px;
}

.navbar-nav li a {
  padding: 0 15px;
  line-height: 70px;
}

.navbar-brand>img {
  position: relative;
  height: 80%;
  top: 7px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.navbar-default {
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  border: none;
  border-radius: 0;
}

@media only screen and (min-width : 320px) {
.tas {
  /*position: absolute;
  top: 12%;
  transform: translateX(-50%);
  left: 50%;*/
  margin-top: 22%;
  color: #fff;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-family: ProximaThin;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 5px 5px #1e1e1e;
}
.slogan {
  margin-top: -2.5%;
  color: #472d23;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  font-family: ProximaThin;
}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
.tas {
  /*position: absolute;
  top: 12%;
  transform: translateX(-50%);
  left: 50%;*/
  margin-top: 14%;
  color: #fff;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-family: ProximaThin;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0px 5px 5px #1e1e1e;
}
.slogan {
  margin-top: -1%;
  color: #472d23;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  font-size: 22px;
  font-family: ProximaThin;
}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
.tas {
  /*position: absolute;
  top: 12%;
  transform: translateX(-50%);
  left: 50%;*/
  margin-top: 14%;
  color: #fff;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-family: ProximaThin;
  font-size: 48px;
  font-weight: 500;
  text-shadow: 0px 5px 5px #1e1e1e;
}
.slogan {
  color: #472d23;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  font-size: 32px;
  font-family: ProximaThin;
}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
.tas {
  /*position: absolute;
  top: 12%;
  transform: translateX(-50%);
  left: 50%;*/
  margin-top: 10%;
  color: #fff;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-family: ProximaThin;
  font-size: 60px;
  font-weight: 500;
  text-shadow: 0px 5px 5px #1e1e1e;
}
.slogan {
  color: #472d23;
  text-shadow: 0px 1px 5px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  font-family: ProximaThin;
}
    }





@media only screen and (min-width: 320px) {
  .phone-number {
    position: absolute;
    bottom: 30px;
    right: 15px;
    color: #472d23;
    font-weight: 600;
    font-size: 10px;
  }
  .social-media-container {
    position: absolute;
    bottom: 50px;
    right: 10px;
  }
  .social-icon {
    height: 13px !important;
    height: 13px !important;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .phone-number {
    position: absolute;
    bottom: 60px;
    right: 15px;
    color: #472d23;
    font-weight: 600;
    font-size: 15px;
  }
  .social-media-container {
    position: absolute;
    bottom: 90px;
    right: 10px;
  }
  .social-icon {
    height: 18px !important;
    height: 18px !important;
  }
}

@media only screen and (min-width: 640px) {
  .phone-number {
    position: absolute;
    bottom: 90px;
    right: 15px;
    color: #472d23;
    font-weight: 600;
    font-size: 25px;
  }
  .social-media-container {
    position: absolute;
    bottom: 120px;
    right: 10px;
  }
  .social-icon {
    height: 28px !important;
    height: 28px !important;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .phone-number {
    position: absolute;
    bottom: 100px;
    right: 25px;
    color: #472d23;
    font-weight: 600;
    font-size: 23px;
  }
  .social-media-container {
    position: absolute;
    bottom: 140px;
    right: 30px;
  }
  .social-icon {
    height: 25px !important;
    height: 25px !important;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .phone-number {
    position: absolute;
    bottom: 95px;
    right: 30px;
    color: #472d23;
    font-weight: 600;
    font-size: 20px;
  }
  .social-media-container {
    position: absolute;
    bottom: 132px;
    right: 30px;
  }
  .social-icon {
    height: 27px !important;
    height: 27px !important;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1280px) {
  .phone-number {
    position: absolute;
    bottom: 20%;
    right: 30px;
    color: #472d23;
    font-weight: 600;
    font-size: 25px;
  }
  .social-media-container {
    position: absolute;
    bottom: 40px !IMPORTANT;
    right: 30px;
  }
  .social-icon {
    height: 32px !important;
    height: 32px !important;
  }
}


@media only screen and (min-width: 1366px) {
  .phone-number {
    position: absolute;
    bottom: 17%;
    right: 30px;
    color: #472d23;
    font-weight: 600;
    font-size: 25px;
  }
  .social-media-container {
    position: absolute;
    bottom: 24%;
    right: 30px;
  }
  .social-icon {
    height: 32px !important;
    height: 32px !important;
  }
}
@media only screen and (min-width: 1662px) {
  .phone-number {
    position: absolute;
    bottom: 21%;
    right: 30px;
    color: #472d23;
    font-weight: 600;
    font-size: 40px;
  }
  .social-media-container {
    position: absolute;
    bottom: 28%;
    right: 30px;
  }
  .social-icon {
    height: 32px !important;
    height: 32px !important;
  }
}
.landing-page {
  background: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.curve {
  background: url("../img/Curve.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

#sponsors {
  background: #fff;
}

#sponsor-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 2rem 0;
  padding-left: 0;
  text-align: center;
}

@media (min-width: 40em) {
  #sponsor-list {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }
}
.sponsor-item {
  color: #999;
  display: block;
  padding: 1em;
  text-decoration: none;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.sponsor-item:focus, .sponsor-item:hover {
  color: #1c9edc;
  text-decoration: underline;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

[data-show="names"] .sponsor-item {
  padding: .5em 1.5em;
}

.sponsor-item img {
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 15vw;
  max-width: 15vw;
}


/*.service-image {
  border-radius: 5px;
  border-color: #ffd2a7;
  border-width: 2px;
  border-style: solid;
  -moz-box-shadow: 0 3px 2px #aaa;
  -webkit-box-shadow: 0 3px 2px #aaa;
  box-shadow: 0 3px 2px #aaa;
}*/

@media only screen and (max-width: 40rem) {
  .sponsor-item img {
    max-height: 22.5vw;
    max-width: 22.5vw;
    margin-top: 0% !important;
  }
  .sponsor-item-1 img {
    margin-top: 25% !important;
  }
}

[data-show="names"] .sponsor-item img {
  display: none;
}

@media(min-width:641px) {
  .sponsor-item-1 {
    margin-top: 35%;
  }
  .sponsor-item-2 {
    margin-top: 35%;
  }
}

@media(min-width:1260px) {
  .sponsor-item-1 {
    margin-top: 50%;
  }
  .sponsor-item-2 {
    margin-top: 50%;
  }
  .sponsor-item-3 {
    margin-top: 50%;
  }
}

@media(min-width:2688px) {
  .sponsor-item-1 {
    margin-top: 55%;
  }
  .sponsor-item-2 {
    margin-top: 55%;
  }
  .sponsor-item-3 {
    margin-top: 55%;
  }
  .sponsor-item-4 {
    margin-top: 55%;
  }
}

@media(min-width:3930px) {
  .sponsor-item-1 {
    margin-top: 60%;
  }
  .sponsor-item-2 {
    margin-top: 60%;
  }
  .sponsor-item-3 {
    margin-top: 60%;
  }
  .sponsor-item-4 {
    margin-top: 60%;
  }
  .sponsor-item-5 {
    margin-top: 60%;
  }
}

input, textarea, button, a {
  outline: none;
  color: #000;
  font-family: ProximaBold;
}

#name, #email, #msg, #phone {
  padding-bottom: 1.5%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #837b74;
  font-size: 18px;
  background: transparent;
}

#msg {
  height: 4em;
}

#map {
  height: 700px;
  margin-top: -15.4vh;
  width: 110%;
  padding-right: -32em;
}

.panel-default {
  border-radius: 10px;
  box-shadow: 0px 1.6px 7px lightgray;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  border-radius: 5px;
  border-color: lightgrey;
  border-width: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27vw;
  height: 15vw;

}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width:300em;
	height: auto;
  display: block;
  margin:0 auto;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
.hvrbox-layer_bottom{

}

.product-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    margin-bottom:120px;
    display: block;
    margin: 0 auto;
    width: 56em;
    height: 20em;
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 0 3px 2px #aaa;
    -webkit-box-shadow: 0 3px 2px #aaa;
    box-shadow: 0 3px 2px #aaa;
    background-repeat: no-repeat;
    background-size: ;
    background-position: center top;

}

.form_status {
	font-size: 16px;
	font-family: ProximaBold;
}
/*

.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179);
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.product-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 20em;
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 0 3px 2px #aaa;
    -webkit-box-shadow: 0 3px 2px #aaa;
    box-shadow: 0 3px 2px #aaa;
    background-repeat: no-repeat;
    background-size: ;
    background-position: center top;
}*/
