body{
  margin: 0;

}
.about-blk{
    height: 10%;
    width: 100%;
    position: relative;
    margin-top:-10%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.about-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff4e9;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}
.cut1-blk{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top:-2%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.cut1-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#ffebd7;
    z-index: 0;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.products-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:0%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.products-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#ffffff;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}
.products-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:0%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.products-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#ffffff;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.services-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:0%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.services-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#fff4e9;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.cut2-blk{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top:-2%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.cut2-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    margin-top:1.5%;
    position: absolute;
    background:#ffebd7;
    z-index: 0;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.sponsors-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:-2%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.sponsors-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#ffffff;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.testomonials-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:-1%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.testomonials-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#fff4e9;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.cut3-blk{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top:0%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.cut3-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#ffebd7;
    z-index: 1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.contact-blk{
    height: 100%;
    width: 100%;
    position: relative;
    margin-top:-2em;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contact-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#fff;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}

.footer-blk{
    height: 0%;
    width: 100%;
    position: relative;
    margin-top:0%;
  opacity: ;
  background: url('https://hd.unsplash.com/uploads/141103282695035fa1380/95cdfeef');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.footer-blk:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:#fff;
    z-index: -1;
    left: 0;
    transform-origin: right;
    transform: skewY(-5deg);
}
